.pinned {
    margin-bottom: 4pt;
}

.padded {
    padding: 8pt;
}

.boundToVH {
    max-height: 100%;
}

.floatLeft {
    float: left;
}

.mountResult {
    padding: 8pt;
    margin-bottom: 6pt;
}

.chip {
    margin: 2pt
}

.chipArrayContainer {
    margin-left: 12pt;
}

.notObtained {
    filter: grayscale(100%)
}