.pinned {
    margin-bottom: 4pt;
}

.padded {
    padding: 8pt;
}

.boundToVH {
    max-height: 100%;
}

.floatLeft {
    float: left;
}

.mountResult {
    padding: 8pt;
    margin-bottom: 6pt;
}

.chipArray {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12pt;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 12pt;
}

.chipArray > * {
    margin: 5pt;
}

.notObtained {
    filter: grayscale(100%)
}