.leftPane {
  width: 25%;
  float: left;
  padding: 15px;
  border-radius: 5px;
}

.mainPane {
  width: 25%;
  float: left;
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  color:white;
}

.app {
  width:100%;
  height:100%;
}